:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Images/PublicImages/image-exploretopmeals.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-color {
  background-color: #3a2720;
}

.col-image-left {
  background-image: url("./Images/PublicImages/image-successstories-left.jpg");
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 52%;
}

.col-image-right {
  background-image: url("./Images/PublicImages/image-successstories-right.jpg");
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}
