:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Images/PublicImages/image-exploretopmeals.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-color {
  background-color: #3a2720;
}

.col-image-left {
  background-image: url("./Images/PublicImages/image-successstories-left.jpg");
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 52%;
}

.col-image-right {
  background-image: url("./Images/PublicImages/image-successstories-right.jpg");
  height: 25em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.card-title-equal-height {
  height: 75px;
}

/* *******************
LOGIN/REGISTER FORM
******************* */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.form-text {
  color: #6c757d;
  font-size: 38px;
  font-weight: 700;
}

.form-underline {
  width: 61px;
  height: 6px;
  background: #6c757d;
  border-radius: 9px;
}

.form-groups {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.form-group img {
  margin: 0px 30px;
}

.form-group input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  color: #fff;
  background: #3a2720;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #6c757d;
}

.error {
  color: red;
}

/* ****
RECIPE
**** */

.view-recipe {
  text-align: center;
}

ul {
  list-style-type: none;
}
